img {
  max-width: 50%;
}
body {
  background-color: grey;
}

.u-hidden {
  display: none !important;
}

.u-text--center {
  text-align: center !important;
}

.deleteBtn {
  margin: 2px;
  background-color: red;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.editBtn {
  margin: 0px;
  background-color: red;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.boxMenu {
  color: white;
  background: black;
  width: 720px;
}
