img {
  max-width: 50%;
}
body {
  background-color: grey;
}
form {
  display: inline;
  align-items: center;
  padding-right: 100px;
  text-align: center;
  margin: auto;
}

.u-hidden {
  display: none !important;
}

.u-text--center {
  text-align: center !important;
}
